.basic-info {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 100%; 
    border: 10px solid #fadc72;   
    background-color: white;
    margin-left: 40px;
}

.name-wrap {
    margin-left: 10px;
}

.nick-name {
    font-size: 30px;
    margin-left: 10px;
    color: white;
}

.level-name {
    background-color: #fadc72;
    padding: 4px 4px;
    border-radius: 10px;
}

.middle-info {
    width: 100%;
    height: 30%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.monthly-total {
    position: relative;
    margin-top: 15%;
    width: 40%;
    height: 65%;
    background-color: blueviolet;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

.fishing-bag > img {
    margin-top: 0%;
    margin-left: 20px;
    width: 85%;
    height: 90%;
}

.calendar {
    width: 90%;
    margin: 0px auto;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
}

.ym-wrapper {
    background-color: aqua;
    position: absolute;
    top: -20px;
    height: 10px;
    width: 100%;
    position: relative;
}

.month {
    position: absolute;
    margin: 0px auto;
    font-size: 30px;
    color: #fadc72;
}

.nav-btn .month-prev {
    position: absolute;
    top: -50px;
    width: 20px;
    height: 20px;
    background-color: beige;
    margin-left: 20%;
}

.nav-btn .month-next {
    position: absolute;
    top: -30px;
    width: 20px;
    height: 20px;
    background-color: beige;
    margin-left: 55%;
}

.footer {
    position: absolute;
    width: 75%;
    height: 10%;
    margin: 0px auto;
    position: relative;
}

.main-btn {
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}


.main-btn > img {
    position: absolute;
    width: 100%; 
    height: 140%;
    margin: 0px auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}