{% extends 'diaryApp/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}" />
{% endblock style %} {% block content %}
<div class="basic-info">
    <div class="profile"></div>
    <div class="name-wrap">
        <div class="nick-name">{{ user.username }}</div>
        <div class="level-name">발자국을 남긴 우주인</div>
    </div>
</div>
<div class="middle-info">
    <div class="fishing-bag">
        <img
            style="width: 200px; height: 200px; margin-right: 15px"
            src="https://postfiles.pstatic.net/MjAyMjA4MjFfMjI5/MDAxNjYxMDY2NzE5MDcz.s3Y9Fkmzd9bs24m8aTYcdG7q70YLWRAA-sYI0PXrjO8g.DoHIO2212lJCYeraAIxM2kLV6wfzjhTEWKE2-5W9SsIg.PNG.ahrefhoo/%EB%82%9A%EC%8B%9C%EB%A0%88%EB%B2%A8.png?type=w966"
        />
        <div class="fishing-rod"></div>
    </div>
    <div class="flex-col">
        <div class="year"></div>
        <div class="calendar_nav">
            <button
                class="nav-btn month-prev"
                onclick="changeMonth('previous');"
            >
                <img
                    src="https://postfiles.pstatic.net/MjAyMjA4MjFfMjI5/MDAxNjYxMDI2NTU2Mjgw.WZFDtS4PT7rJRRsCzRhH6Oy3-zcQLxAwHXHBDhSdHgIg.kOJc4U5ykZSvPMIgh2ggyid-JT-HZFCYGO3g5sN7vg0g.PNG.ahrefhoo/Polygon_1.png?type=w966"
                />
            </button>
            <div class="month"></div>
            <button class="nav-btn month-next" onclick="changeMonth('next');">
                <img
                    src="https://postfiles.pstatic.net/MjAyMjA4MjFfNCAg/MDAxNjYxMDI2NTUwOTI4.hezGFhxO-nzprIQnGwRvi1MG0c9eMDyNdCC2S7TrVngg.PnUCDcsOj1vo5HBheYLnLc3pbK2iHihANzC7oS4T_Pog.PNG.ahrefhoo/Polygon_2.png?type=w966"
                />
            </button>
        </div>
        <div class="monthly-total">
            <div class="this-month">이달의 탐사</div>
            <span class="total-num">{{ total }}</span>
            <span class="count">회</span>
        </div>
    </div>
</div>
<div class="calendar">
    <div class="days">
        <div class="day">SUN</div>
        <div class="day">MON</div>
        <div class="day">TUE</div>
        <div class="day">WED</div>
        <div class="day">THU</div>
        <div class="day">FRI</div>
        <div class="day">SAT</div>
    </div>
    {% for diary in diarys %}
    <p style="visibility: hidden" id="diarys">{{ diary.diary_created_at }}</p>
    {% endfor %}
    <div class="dates"></div>
</div>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/reverse.js' %}"></script>

<div class="footer">
    <div class="main-btn">
        <a href="{% url 'index' %}">
            <img
                src="https://postfiles.pstatic.net/MjAyMjA4MjBfOSAg/MDAxNjYwOTc4MTcyNjAz.Q9VZr7j83gvvaudrpS-KP-GqbRFOwf_lKiUWGre5GPsg.CcKPBb9RRw8McAQi5KnicXrP-dMEa2UbDHiwZtcWbkcg.PNG.ahrefhoo/Group_2.png?type=w966"
            />
        </a>
    </div>
</div>

<script>
    const changeMonth = (type) => {
        MonthLooking = document.querySelector(".month").innerHTML;
        MonthLooking = Number(MonthLooking);

        YearLooking = document.querySelector(".year").innerHTML;
        YearLooking = Number(YearLooking);

        console.log(YearLooking);

        /* 날짜 조정용 조건문 */
        if (type == "next") {
            if (MonthLooking == 12) {
                MonthLooking = 1;
                YearLooking += 1;
            } else {
                MonthLooking += 1;
            }
        } else if (type == "previous") {
            if (MonthLooking == 1) {
                MonthLooking = 12;
                YearLooking -= 1;
            } else {
                MonthLooking -= 1;
            }
        }

        fetch("/mypage/" + YearLooking + "/" + MonthLooking, {
            method: "POST",
        }).then((response) => console.log(response));
    };

    const diary = document.getElementById("diarys").innerHTML;
    console.log(diary);
    dateStart = diary.indexOf(".");
    dateEnd = diary.indexOf(",");

    let diarydate = diary.substring(dateStart + 2, dateEnd);
    // console.log(diarydate)

    // for (let date of document.querySelectorAll('.date.this')){

    //         date.parentNode.classList.add('diary_written')
    //         console.log(date)
    //         break;
    //     }
    var marked = [];
    var temp = document.querySelectorAll(".date.this");
    for (var i = 0; i < temp.length; i++) {
        if (Number(temp[i].innerHTML) == diarydate) {
            marked.push(temp[i]);
        }
    }

    marked.forEach((element) => {
        element.style.backgroundColor = "yellow";
    });
</script>
{% endblock content %}
