{% extends 'base.html' %}
{% load static %}
{% block style %}
{% comment %} 여기에 연결할 css <link/> 추가 {% endcomment %}
<link rel='stylesheet', style='text/css', href="{% static '/css/background.css' %}" />
{% endblock style %}
{% block js %}
{% comment %} 여기에 연결할 js <script/> 추가 {% endcomment %}
<script src="{% static 'js/background.js' %}"></script>
{% endblock js %}
{% block content %}
    <div id="background-container">
        <canvas id="canvas"></canvas>
        <div class="random-diary-modal">
            
        </div>
    </div>
{% endblock content %}