{% extends 'base.html' %}
{% load static %}
{% block style %}
{% comment %} 여기에 연결할 css <link/> 추가 {% endcomment %}
<link rel='stylesheet', style='text/css', href="{% static '/css/fishing.css' %}" />
{% endblock style %}
{% block js %}
{% comment %} 여기에 연결할 js <script/> 추가 {% endcomment %}
<script src="{% static 'js/fishing.js' %}"></script>
{% endblock js %}
{% block content %}
    <div id="background-container">
        <canvas id="canvas">
        </canvas>
        <div id="main-container" onclick="showRandomDiary()">
            <div id="random-diary" class="random-diary-modal hide">
                random diary
                <button onclick="hideRandomDiary()">close</button>
            </div>
            <button onclick="showRandomDiary()">click</button>
        </div>
    </div>
    
{% endblock content %}