{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock style %}
{% block js %}
{% endblock js %}
{% block content %}
    <div class="navbar_container">
        <li class="navbar_logo">
            <img src="#">
        </li>
        {% if user.is_authenticated %}
        <span class="navbar_menu_item">안녕하세요! {{user.username}} 님</span>
        <img class="profile_pic" src="{{request.user.profile.profile_pic.url}}">
        <!-- 윗 줄 베끼면 유저 사진 불러오기 가능 -->
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <li class="navbar_menu_item">
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li class="navbar_menu_item">
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
    </div>
{% endblock content %}