{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila&family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src=#>
        </div>
    </div>

    <div class="container">
        <section id="signup">
            {% csrf_token %}
            {% if error %}
            <p>{{error}}</p>
            {% endif %}
                <h1>Login</h1>
                <form action="">
                    <div class="int-area">
                        <input type="text" name="id" id="id" autocomplete="off" required>
                        <label for="id">USER NAME</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pw" id="pw" autocomplete="off" required>
                        <label for="pw">PASSWORD</label>
                    </div>
                    <div class="btn-area">
                        <button id="btn" type="submit">LOGIN</button>
                    </div>
        </section>
    </div>
</body>
</html>