@import "./ui/modal.css";
@import "./ui/button.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* html,
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
  width: 100%;
  height: 100%;
} */

* {
  font-family: 'Laila', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

}

.btn_register button {
  width: 246px;
  height: 57px;
  background: linear-gradient(90deg, #234567 0%, #345678 44.65%, #456789 91.21%);
  border-radius: 12px;
  border: 0px;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  
}

.navbar_logo {
  margin-top: -10px;
}

.btn_register {
  margin-left: 63px;
  margin-top: 250px;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}


.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-btn {
  background-color: #896AC9;
}

.text-center {
  text-align: center;
}

.flex {
  /* display: flex; */
  /* position: absolute;
  left : 90%;
  right: 50%; */
  /* justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center; */
  /* top : 50%;
  bottom: 50%; */
  font-size: 1em;
  z-index: 1;
}
.modal-container {
  z-index: 1;
}
.form-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  left: 100px;
}
.createDiary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoadd{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.todo-input{
  display: flex;
  flex-direction: row;
}


.user_info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.todo_group {
  display: flex;
  flex-direction:row;
}

.user_info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.todo_group {
  display: flex;
  flex-direction:row;
}